body {
    background: url(landscape1.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

.clock {
    position: absolute;
    top: 17%;
    left: 46%;
    transform: translateX(-50%) translateY(-50%);
    color:white;
    text-shadow: black 3px 1px;
    font-size: 150px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 7px;
    opacity: 1;
    font-weight: bold;
}

.message {
    position: absolute;
    top:30%;
    left:49%;
    transform: translateX(-50%) translateY(-50%);
    color:white;
    text-shadow: black 1px 1px;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 7px;
    opacity: 1;
    font-weight: bold;

}

.toDoList {
    position: absolute;
    top:49%;
    left:49%;
    transform: translateX(-50%) translateY(-50%);
    color:white;
    text-shadow: black 2px 2px;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 7px;
    opacity: 1;
    font-weight: bold;
}

.addBtn {
    position: absolute;
    top:49%;
    left:49%;
    transform: translateX(-50%) translateY(-50%);
    color:white;
    text-shadow: black 2px 2px;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 7px;
    opacity: 1;
    font-weight: bold;
}
